/*
		Description: overview.css for Overview page
		Created By: Nayana
		Date: 27-06-2017;
		@import 'https://fonts.googleapis.com/css?family=Roboto';
*/


.overviewPage{
	padding: 0 5px 0 0px;
	background-color: #f6f8f9;
	width: 100%;
	height: 100%;
	min-width: 1042px;
}

.mainTitleBar{
	height: 100%;
}

.f_medium{
    font-family: 'Roboto-M';
}

.mainTitleStyle{
	font-family: 'Roboto-M';
	font-size: 20px;
	color: #000000;	background-color: #f6f8f9;
	/*margin-top: 20px;
	margin-bottom: 20px;*/
}

.mainTitleHr{
	border-bottom: 1px solid #b0b0b0;
    /*margin: 10px 0;*/
}

.infoPanel{
	margin-bottom: 20px;
	border: 1px solid #a1a1a1;
	background-color: #ffffff;
}

.titlePanel{
	height: 36px;
	vertical-align: middle;
	background-color: #f7fafc;
	margin: auto;
	display: inline-block;
}

.mainTitle {
	font-family: 'Roboto-R';
    font-size: 18px;
    color: #000000;
    margin-left: 4px;
}


.i_icCard
{
	background: rgba(0, 0, 0, 0) url("/img/ic_card.png") no-repeat scroll center center;
	width: 36px;
	height: 36px;
	border: 0;
}

.i_base
{
	display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding: 0 0 0 0;
    /*margin-left: 0 5px 0 10px;*/
}

.i_info
{
	background: rgba(0, 0, 0, 0) url("/img/function_info.png") no-repeat scroll center center;
}

.i_ram{
	background: rgba(0, 0, 0, 0) url("/img/ic_ram.png") no-repeat scroll center center;
}
.i_ram_warn{
	background: rgba(0, 0, 0, 0) url("/img/ic_ram_warn.png") no-repeat scroll center center;
}

.i_temp{
	background: rgba(0, 0, 0, 0) url("/img/ic_tem.png") no-repeat scroll center center;
}
.i_temp_warn{
	background: rgba(0, 0, 0, 0) url("/img/ic_tem_warn.png") no-repeat scroll center center;
}

.i_upload{
	background: rgba(0, 0, 0, 0) url("/img/ic_upload.png") no-repeat scroll center center;
}

.i_download{
	background: rgba(0, 0, 0, 0) url("/img/ic_download.png") no-repeat scroll center center;
}

.i_ip{
	background: rgba(0, 0, 0, 0) url("/img/ic_ip.png") no-repeat scroll center center;
}

.i_qts{
	background: rgba(0, 0, 0, 0) url("/img/qts_lite_24.png") no-repeat scroll center center;
}

.i_more{
	position: absolute;
    bottom: 0 !important;
	background: rgba(0, 0, 0, 0) url("/img/more_n.png") no-repeat scroll center center;
	cursor: pointer;
	right: 5px;
}
.i_more:hover{
	position: absolute;
    bottom: 0 !important;
	background: rgba(0, 0, 0, 0) url("/img/more_h.png") no-repeat scroll center center;
	cursor: pointer;
}

.txtCpuType
{
	font-family: 'Roboto-R';
	font-size: 16px;
    color: #000000;
}

.cardInfoStyle
{
	font-family: 'Roboto-R';
	font-size: 14px;
    color: #131313;
}

.textMemoryTemp{
	font-family: 'Roboto-R';
	font-size: 14px;
    color: #2f2f2f;
}

.textMemoryTempAlert{
	font-family: 'Roboto-R';
	font-size: 14px;
    color: #f15703;
}

.textTxRx{
	font-family: 'Roboto-R';
	font-size: 13px;
    color: #2f2f2f;
}

.txtCPUUsage{
	font-family: 'Roboto-R';
	font-size: 14px;
	color: #454545;
}

.progressBarCPU
{
	font-size: 50px;
    color: #3c7fdd;
    font-family: 'Roboto-R';
}

.progressBarGPU
{
	font-size: 50px;
    color: #00aab7;
    font-family: 'Roboto-R';
}

.leftPanel{
	width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: inline-flex;
    padding-left: 25px;
}

/*
.leftPanel .panel1{
	width: 30%;
}

.leftPanel .panel2{
	width: 70%;
}

.leftPanel .panel2 .panel21
{

}*/

.rightPanel{
	width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: inline-flex;
    border-left: 1px solid #eeeeee;
    padding-left: 25px;
	/*width: 50%;
    display: inline-block;
    float: right;
    display:inline-flex;*/
}

.table123
{
	border-color: white;

	border:none;
	width: 100%;

}

table.bottomBorder {
    border-collapse: collapse;
    vertical-align: middle;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
table.bottomBorder td,
table.bottomBorder th {
	border:none;
	outline:none;
}

table.bottomBorder tr
{
    height: 32px;
}

.rowHr{
	border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    margin-bottom: 10px;
}

.d1{ width: 34%; min-width: 155px !important; vertical-align: middle; margin: auto;}

.d2{
	width: 32%;
	vertical-align: middle;
	padding-left: 25px;
	margin: auto;
}

.d3{
	width: 32%;
	padding-left: 25px;
	vertical-align: middle;
	align-items: left;
	margin: auto;
}

.d4{ min-width: 31px; }

.cpuProgress
{
	margin-top: 15px;
}
