
.navColor {
  background: linear-gradient(to right, #1d6fde, #009ec6);
  height: 10px;
}

.navBar {
    background-color: white;
    vertical-align: text-bottom;
    text-align: left;
}

.navBar .borderBottom {
    border-bottom: 2px solid black;
    width: 24px;
}



.navBar .navTitle > img {
    margin-right: 12px;
    vertical-align: text-top;
    text-align: center;

}
.navBar .navTitle {
    display: inline-block;
    font-size: 24px;
    color: #1c6ede;
    height: 44px;
}
.navBar .navWizardBox {
    display: inline-block;
    float: right;
    margin-right: 25px;
}
.navBar .navBox {
    display: inline-block;
    float: right;
    height: 44px;
}

.navBar .navBox ul li {
    display: inline-block;
    position: relative;
}

.navBar .boxLine {
    height: 30px;
    width: 1px;
    margin: 0 25px;
    vertical-align: bottom;
    background-color: #2f2f2f;
    display: inline-block;
}

.navBar .f_userIcon {
    display: inline-block;
}
.navBar .f_userIcon img{
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.navBar .f_userName {
    margin:0 30px;
    display: inline-block;
}

.navBar .f_appIcon{
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-left: 23px;
    margin-right: 12px;
    background: rgba(255, 255, 255, 0) url("/img/App Icon/mvt_24.png") no-repeat center center;
}

.navBar .i_about{
  display: inline-block;
  vertical-align:middle;
  height: 20px;
  width: 20px;
  margin-left:15px;
  margin-right: 25px;
  margin-top: 7px;
  background: rgba(255, 255, 255, 0) url("/img/about_i.png") no-repeat center center;
}

.navBar .i_help{
  display: inline-block;
  vertical-align:middle;
  height: 20px;
  width: 20px;
  margin-top: 7px;
 background: rgba(255, 255, 255, 0) url("/img/help_i.png") no-repeat center center;
}


/*
.navDropdownMenu{
    position: absolute;
    top: 44px;
    right: 0px;
    width: 210px;
    background-color: rgba(255,255,255,0.95);
    z-index: 5;
}
.navBar .f_userName .navDropdownMenu {
    right: 28px;
}
.navBar .navDropdownMenu ul {
    border: 1px solid #b0b0b0;
    padding: 14px 0;
}
.navBar .navDropdownMenu ul li.dropdownLine {
    border-bottom: 1px solid #cecece;
    margin: 8px 20% 8px 0;
}

.navBar .navDropdownMenu ul li {
    cursor: pointer;
    display: list-item;
    line-height: 28px;
    padding: 0 22px;
    font-size: 13px;
    color: #2f2f2f;
    text-align: left;
    position: relative;
}
.navBar .navDropdownMenu ul li a{
    text-decoration: none;
    color: #2f2f2f;
}
.navBar .navDropdownMenu ul li.lasttimeBox {
    line-height: 17px;
    height: 46px;
    padding-top: 6px;
}

.navBar .navDropdownMenu ul li:hover {
    background-color: #e1f9fb ;
}

.navBar .navDropdownMenu ul li ol {
    display: none;
}
.navBar .navDropdownMenu ul li:hover ol {
    position: absolute;
    left: -160px;
    background-color: white;
    padding: 14px 0;
    width: 160px;
    top: 5px;
    border: 1px solid #b0b0b0;
    display: block;
}

.navBar .navDropdownMenu img {
    margin-right: 14px;
    vertical-align: text-top;
}

.navBar .navDropdownMenu > a {
    background-color: #00757a;
    height: 2px;
    position: absolute;
    right: 0;
    top: -2px;
    width: 24px;
}

.navBar .f_dropdownArrowBtn {
    width: 20px;
    height: 40px;
    border: 0;
    vertical-align: middle;
    cursor: pointer;
}

.navBar .f_moreBtn {
    width: 20px;
    height: 40px;
    border: 0;
    vertical-align: middle;
    cursor: pointer;
}
*/



.f_bold {
    font-family: 'Roboto-B';
}
.f_light {
    font-family: 'Roboto-L';
}

/* frameset left side menu style */
/*.leftMenu {
    float: left;
    width: 150px;
    background: linear-gradient(to bottom, red, green);

    animation: sideToBigMenu 0.5s ease;
}



.leftMenu.mini {
    animation: sideToMiniMenu 0.5s ease;
}

.leftMenu ul Link {
    color: white;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
}


.i_open {
    background: url(/img/sys/open_n.png) no-repeat scroll 0 center;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}*/

/* Included components/layout/sideBarMenu.css */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #004B97   ;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  /*background: #66B3FF ;*/
  background: linear-gradient(to bottom, #1d6fde, #009ec6);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  float: left;
  width: 150px;
  animation: sideToBigMenu 0.5s ease;
}

/*.bm-menu-wrap {
  left: 0;
}*/

.bm-menu .i_side_icons {
    display: inline-block;
    height: 35px;
    margin-right: 13px;
    vertical-align: middle;
    width: 35px;
    padding: 0 0 0 0;
    margin-top: 0px;
    margin-bottom: 0px;
     margin-left: 10px;
}
.bm-menu .i_side_home {
    background: rgba(255, 255, 255, 0) url("/img/side_overview.png") no-repeat scroll center center;
}
.bm-menu .i_side_overview {
    background: rgba(255, 255, 255, 0) url("/img/side_overview.png") no-repeat scroll center center;
}
.bm-menu .i_side_card {
    background: rgba(255, 255, 255, 0) url("/img/side_cards info.png") no-repeat scroll center center;
}
.bm-menu .i_side_config {
    background: rgba(255, 255, 255, 0) url("/img/side_cards info.png") no-repeat scroll center center;
}
.bm-menu .i_side_log {
    background: rgba(255, 255, 255, 0) url("/img/side_log.png") no-repeat scroll center center;
}
.bm-menu .i_side_demo {
    background: rgba(255, 255, 255, 0) url("/img/side_cards info.png") no-repeat scroll center center;
}
.i_side_collapse {
    display: inline-block;
    height: 6px;
    width: 10px;
    /*margin-right: 13px;*/
    vertical-align: middle;
    /*padding: 0 0 0 0;
    margin: 0 0 0 0;*/
    background: rgba(255, 255, 255, 0) url("/img/item_collapse.png") no-repeat scroll center center;
}
.i_side_expand {
    display: inline-block;
    height: 6px;
    width: 10px;
    /*margin-right: 13px;*/
    vertical-align: middle;
    /*padding: 0 0 0 0;
    margin: 0 0 0 0;*/
    background: rgba(255, 255, 255, 0) url("/img/item_expand.png") no-repeat scroll center center;
}
/* Morph shape necessary with bubble or elastic */
/*.bm-morph-shape {
  fill: #373a47;
}*/

/* Wrapper for item list */
.bm-item-list {
  color: #ECF5FF;
  width: 100%;
   padding: 10px 0 10px 0;
   height: 60px important;
}
/*
.bm-item-list:hover {
  background-color: black;
}*/

.testHover{
  width: 100%;
  padding: 10 0 10 0;
  margin: 0 0 0 0;
}

.testHover:hover{
    background-color: #1d6fde;
  }

.bm-div-hr{
  /*border-bottom: 1px solid #e2e2e2;
  margin: 10px 0;*/
  border-bottom: 1px solid rgba(255,255,255,0.2);
   padding: 0 -150px  0 -170px;
   margin: 0 0 0 0;
 /* padding: 0 0 0 -100px;
  margin: 0 0 0 -100px;*/
}

a:hover{
    color: #d0d0d0;
    text-decoration: none;
}
a:focus {
    color: #FFD306;
    text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.2);
}



.gradiant{
    background: linear-gradient(to right, #2ed9e6 , #00aab7);
}

.runningInfo{
    font-family: 'Roboto-R';
    font-size: 14px;
    color: #027dff;
}

.completeInfo{
    font-family: 'Roboto-R';
    font-size: 14px;
    color: #131313;
}

.failedInfo{
    font-family: 'Roboto-R';
    font-size: 14px;
    color: #cf0b0f;
}
.i_status_error_text
{
	text-decoration: underline;
	cursor: pointer;
}
.rowHr{
	border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    margin-bottom: 10px;
}

.checkbox
{
    cursor: pointer;
}

.checkbox:disabled
{
    cursor: no-drop;
}

/* tooltip*/
.tipBox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.tipBox > div.tipBox_main {
    display: none;
}

.tipBox.open > div.tipBox_main {
    background: white;
    border: 1px solid #767676;
    display: block;
    position: absolute;
    height: auto;
    text-align: left;
    width: 300px;
    padding: 16px 12px;
    z-index: 1;
    line-height: 14px;
}

.tipBox div.tipBox_main span {
    margin: 0 !important;
    font-family: 'Roboto-R' !important;
    font-size: 12px;
    color: #2f2f2f;
}

  .taskModal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: auto;
    border: 1px solid #767676;
    background-color: #f6f8f9;
    z-index: 1001;
  }

  .taskModalRight {
    position: absolute;
    top: 50%;
    right: 60%;
    left: auto;
    bottom: auto;
    width: auto;
    border: 1px solid #767676;
    background-color: #f6f8f9;
    z-index: 1001;
  }

  .taskOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
  }

    /* Arrow right */
  .taskModalRight .arrow_r_int {
    Width: 0px;
    Height: 0px;
    Border-width: 15px;
    Border-style: solid;
    Border-color: transparent transparent transparent #333 ;
    Position: absolute;
    Top: 20px;
    Right: -30px;
  }
  /* Arrow right - border */
  .taskModalRight .arrow_r_out {
    Width: 0px;
    Height: 0px;
    Border-width: 15px;
    Border-style: solid;
    Border-color: transparent transparent transparent #fff;
    Position: absolute;
    Top: 20px;
    Right: -29px;
  }

    .mwt_border{
     width:auto;
     height:90px;
     text-align:center;
     background:#fff;
     position:relative;
     border: solid 1px #333;
     margin:30px;
     padding:30px;
    }
    /*蝞剝撌�*/
    .taskModal .arrow_l_int{

     width:0px;
     height:0px;
     border-width:15px;
     border-style:solid;
     border-color:transparent #333 transparent  transparent ;
     position:absolute;
     top:20px;
     left:-30px;
    }
    /*蝞剝撌�-����*/
    .taskModal .arrow_l_out{
     width:0px;
     height:0px;
     border-width:15px;
     border-style:solid;
     border-color:transparent #fff transparent transparent ;
     position:absolute;
     top:20px;
     left:-29px;
    }

    .emptyTaskBox
    {
       min-width: 420px;
       padding-top : 35 px;
       min-height: 90px;
       vertical-align: middle;
       text-align: left;
       padding-left: 55px;
       padding: 35px 55px 0 55px;
       border-style: 1px solid #131313;
    }
  .urlStyle
  {
      color: #0071ba;
      text-decoration: underline;
  }
  .urlStyle:hover, .urlStyle:focus {
      color: #015def;
      text-decoration: underline;
  }

  .urlStyle:active {
      color: #7eaefe;
      text-decoration: underline;
  }

  .urlStyle:visited {
      color: #753f94;
      text-decoration: underline;
  }

  .inLineEditFontStyle{
    font-size: 13px;
    color: #131313;
    font-family: 'Roboto-R';
  }
